# General
.DS_Store
.env
.venv
venv/
__pycache__/
.pytest_cache/
.mypy_cache/

# Python build
*.egg-info/
.ruff_cache/

# Swift/Apple
DerivedData/
xcuserdata/
*.xcuserstate

# Ignore user data inside Xcode projects/workspaces
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/

# SwiftPM local artifacts (ok to ignore)
.swiftpm/
.build/
# Node/others
node_modules/
